// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  font-family: 'Monoton', cursive;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a{
  font-family: 'Monoton', cursive;
  text-decoration: none;
  color: white;
  }

  h2 {
    color: white;
    text-decoration: none;
  }
}

.banner {
  background-size: cover;
  background-position: 50px 489px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  h2 {
    font-family: 'Monoton', cursive;
  }
}

.absolute {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-tags {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 80%;
  span {
    background: $warning;
    font-size: .7em;
    padding: 2px 4px;
    border-radius: 3px;
  }
  a {
    color: white;
  }
}

  .dose-delete {
    color: grey;
    margin-left: 10px;
    em {
      font-size: 8px;
    }
  }

  h1 {
    color: white;
    font-family: 'Monoton', cursive;
    text-align: center;
  }

  .ingredients {
    background: rgba(176,35,9,0.2);
  }


  .dose-ul {
    padding: 0;
    list-style:  none;
  }

  .back-to-cocktails {
    position:absolute;
    top: 10px;
    left: 10px;
    font-size:12px;
   .back {
       font-family: 'Monoton', cursive;
       text-decoration: none;
       color: white;
    }
  }
  .description {
    background: rgba(176,35,9,0.2);
  }

  .form {
    width: 700px;
  }
